<nav>
  <div class="nav-wrapper pink">
    <a href="#" class="brand-logo center"><img src="/img/sebmck.jpg" class="logo-styling z-depth-2" alt="sebmck"></a>
    <ul id="nav-mobile" class="right">
      <li>{{#link-to "pictures"}}Pictures{{/link-to}}</li>
      <li>{{#link-to "about"}}Why does this site exist?{{/link-to}}</li>
      <li><a href="http://twitter.com/sebmck">Follow Seb</a></li>
    </ul>
  </div>
</nav>
