<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel large">
        <h2>Once Upon A Time...</h2>
        <img class="responsive-img" src="img/samccone-twitter.png" alt="Sam's Twitter">
      </div>
    </div>
  </div>
</div>
